table {
    width: 90%;
   	border: 1px solid lightgray; }

td {
    text-align: center; important!;
	border-right: 0px solid lightgray;
    padding-left: ;
    padding-top: 0px;
    padding-bottom: 0px;
}

.in {
    width: 28px; important!;
    background-color: #4CAF50; /* Green */
    border: 1px solid green;
    color: white;
    padding: 2px 2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.in2 {
    width: 110px; important!;
    background-color: #4CAF50; /* Green */
    border: 1px solid green;
    color: white;
    padding: 2px 2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}
.all {
    height: 30px; important!;
    background-color: #728772;
}
.main {
    width: 80px; important!;
    background-color: white; /* Green */
    border: 1px solid white;
    color: black;
    padding: 2px 2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    float: left;
}


.in:hover {
    background-color: #3e8e41;
}

.in2:hover {
    background-color: #3e8e41;
}


.wrapper {
    align: center;
	width: 400px;
	margin: 50px auto;
	padding: 15px;
	border: 1px dashed #CCC;
	border-radius: 4px;
}

.wr {
	border: 1px dashed #CCC;
	border-radius: 4px;
}

table.fixed {
    table-layout:fixed;
}

table.fixed td {
    overflow: hidden;
}
